body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ticker {
  font-size: 10vmin;
  text-align: center;
}

.last-update {
  font-size: 2.5vmin;
  text-align: center;
  margin-right: 1rem;
}

.price {
  font-size: 16vmin;
  text-align: center;
}

.price-time {
  font-size: 6vmin;
  text-align: center;
}

.up {
  color: green;
}

.down {
  color: red;
}

.chart {
  margin-top: 50px;
}
